.drink-carousel {
    margin-top: 40px;
}

.drink {
    /*border: 1px solid grey;*/
    text-align: center;
    padding: 10px;
    opacity: 0.7;
    transition: all 300ms ease;
}

.slick-center {
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    color: #e67e22;
    opacity: 1;
    transform: scale(1.1);
}

.center{
    position: relative;
	top: 50%;
	transform: translateY(50%);
}